<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Elanco</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/applications" routerLinkActive="active">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resources" routerLinkActive="active">Resources</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>